body {
    font-family: 'Arial', sans-serif;
    background-color: darkseagreen;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.agecalc {
    width: 100%;
    max-width: 400px;
    background-color: rgba(173, 216, 230, 0.9); /* Light blue with transparency */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.head h1 {
    color: black;
    margin: 0;
    font-weight: 700;
}

.head i {
    color: #3498db;
}

.newage {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}
button {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
}

p#result {
    font-size: 18px;
    color: #333;
    margin: 0;
}
